/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-brand {
  font-size: 30px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.title-design {
  font-family: 'SourceCodePro-ExtraLight';
  text-transform: lowercase;
  font-size: 10rem;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
  border-left: 1px solid white;
  color: #34495e;
}

.title-design-first-letter {
  font-family: 'SourceCodePro-Light';
  color: white;
  border-bottom: 1px solid white;
  font-size: 13rem;
  padding-bottom: 0;
}

.address-design {
  font-family: 'SourceCodePro-Light';
  font-size: 6rem;
  color: #34495e;
}

.title-divider {
  color: #34495e;
  font-family: 'source_code_proregular';
  font-size: 15rem;
  text-transform: lowercase;
}

body {
  font-family: 'sans-serif';
  background-color: #1abc9c;
  font-size: 20px;
  color: #34495e;
}

.list-group-item {
  background-color: #1abc9c;
  border: 1px solid white;
  opacity: 0.7;
  border-bottom: 5px solid #ecf0f1;
}

a {
  text-decoration: none;
  color: black;
}

.make-translucent {
  opacity: 0.7;
}

#search-input {
  font-size: 40px;
  height: 60px;
  padding: 35px;
  text-align: center;
  background-color: white;
  margin-top: -1px;
}

.btn-default {
  height: 50px;
  font-size: 25px;
  font-family: 'SourceCodePro-Light';
}
