/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.title-design {
  font-family: 'SourceCodePro-ExtraLight';

  text-transform: lowercase;
  font-size: 15rem;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
  border-left: 1px solid white;
  color: #34495e;
}

.title-design-first-letter {
  font-family: 'SourceCodePro-ExtraLight';
  color: white;
  border-bottom: 1px solid #34495e;
  font-size: 20rem;
}

.address-design {
  font-family: 'SourceCodePro-Light';
  font-size: 6rem;
  color: #34495e;
}

.title-divider {
  color: #34495e;
  font-family: 'source_code_proregular';
  font-size: 15rem;
  text-transform: lowercase;
}

/*#16a085 1abc9c*/

body {
  background-color: #1abc9c;
}

.list-group-item {
  background-color: #1abc9c;
  border: 1px solid white;
  opacity: 0.7;
}

a {
  text-decoration: none;
  color: black;
}


